@import "tailwindcss";
@import './styles/tailwind.css';

:root {
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
}



/* Scrollbar delgado y transparente */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background:  rgba(var(--white-rgb), .16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb), .16);
  border-radius: 20px;
}
